
#bottom_navbar{
    height: 145px;
    position: absolute;;
    bottom: 0;
    width: 1616px;
    background-color: #373737;
    color: white;
    margin-left: 308.04px;
    margin-top: 2782px;
}

#wrapper{
    width:308.04px;
    height:2927px;
    float: left;
    background-color: #646464;
    font-family: Lato;
    color: white;
    font-size: 16px;
    
}
span{
    margin-left: 50px;
}
.nav-item{
    background-color: #969696;
    margin-top: 10px;
    width:308.04px;
    height: 50.27px;
}
#li_dashboard{
    margin-top: 20px;
}
#li_CLAM, #li_Contact{
    margin-top: 50px;
}